<?xml version="1.0" encoding="utf-8"?>
<items>
  <item>
    <position>1</position>
    <coordinate>204:193</coordinate>
  </item>
  <item>
    <position>2</position>
    <coordinate>365:190</coordinate>
  </item>
  <item>
    <position>3</position>
    <coordinate>543:191</coordinate>
  </item>
  <item>
    <position>4</position>
    <coordinate>716:194</coordinate>
  </item>
  <item>
    <position>5</position>
    <coordinate>876:191</coordinate>
  </item>
  <item>
    <position>6</position>
    <coordinate>1043:190</coordinate>
  </item>
  <item>
    <position>7</position>
    <coordinate>1206:193</coordinate>
  </item>
  <item>
    <position>8</position>
    <coordinate>1383:194</coordinate>
  </item>
  <item>
    <position>9</position>
    <coordinate>1545:193</coordinate>
  </item>
  <item>
    <position>10</position>
    <coordinate>1718:193</coordinate>
  </item>
  <item>
    <position>11</position>
    <coordinate>204:270</coordinate>
  </item>
  <item>
    <position>12</position>
    <coordinate>373:272</coordinate>
  </item>
  <item>
    <position>13</position>
    <coordinate>542:266</coordinate>
  </item>
  <item>
    <position>14</position>
    <coordinate>714:266</coordinate>
  </item>
  <item>
    <position>15</position>
    <coordinate>876:267</coordinate>
  </item>
  <item>
    <position>16</position>
    <coordinate>1044:269</coordinate>
  </item>
  <item>
    <position>17</position>
    <coordinate>1205:269</coordinate>
  </item>
  <item>
    <position>18</position>
    <coordinate>1380:269</coordinate>
  </item>
  <item>
    <position>19</position>
    <coordinate>1542:267</coordinate>
  </item>
  <item>
    <position>20</position>
    <coordinate>1724:268</coordinate>
  </item>
  <item>
    <position>21</position>
    <coordinate>203:345</coordinate>
  </item>
  <item>
    <position>22</position>
    <coordinate>376:345</coordinate>
  </item>
  <item>
    <position>23</position>
    <coordinate>547:345</coordinate>
  </item>
  <item>
    <position>24</position>
    <coordinate>698:344</coordinate>
  </item>
  <item>
    <position>25</position>
    <coordinate>879:342</coordinate>
  </item>
  <item>
    <position>26</position>
    <coordinate>1049:349</coordinate>
  </item>
  <item>
    <position>27</position>
    <coordinate>1210:348</coordinate>
  </item>
  <item>
    <position>28</position>
    <coordinate>1372:347</coordinate>
  </item>
  <item>
    <position>29</position>
    <coordinate>1539:345</coordinate>
  </item>
  <item>
    <position>30</position>
    <coordinate>1707:346</coordinate>
  </item>
  <item>
    <position>31</position>
    <coordinate>200:429</coordinate>
  </item>
  <item>
    <position>32</position>
    <coordinate>381:423</coordinate>
  </item>
  <item>
    <position>33</position>
    <coordinate>550:419</coordinate>
  </item>
  <item>
    <position>34</position>
    <coordinate>699:419</coordinate>
  </item>
  <item>
    <position>35</position>
    <coordinate>872:420</coordinate>
  </item>
  <item>
    <position>36</position>
    <coordinate>1044:420</coordinate>
  </item>
  <item>
    <position>37</position>
    <coordinate>1209:420</coordinate>
  </item>
  <item>
    <position>38</position>
    <coordinate>1379:422</coordinate>
  </item>
  <item>
    <position>39</position>
    <coordinate>1549:419</coordinate>
  </item>
  <item>
    <position>40</position>
    <coordinate>1713:416</coordinate>
  </item>
  <item>
    <position>41</position>
    <coordinate>199:496</coordinate>
  </item>
  <item>
    <position>42</position>
    <coordinate>371:493</coordinate>
  </item>
  <item>
    <position>43</position>
    <coordinate>537:494</coordinate>
  </item>
  <item>
    <position>44</position>
    <coordinate>706:495</coordinate>
  </item>
  <item>
    <position>45</position>
    <coordinate>876:497</coordinate>
  </item>
  <item>
    <position>46</position>
    <coordinate>1040:498</coordinate>
  </item>
  <item>
    <position>47</position>
    <coordinate>1219:496</coordinate>
  </item>
  <item>
    <position>48</position>
    <coordinate>1377:495</coordinate>
  </item>
  <item>
    <position>49</position>
    <coordinate>1547:495</coordinate>
  </item>
  <item>
    <position>50</position>
    <coordinate>1719:498</coordinate>
  </item>
  <item>
    <position>51</position>
    <coordinate>206:568</coordinate>
  </item>
  <item>
    <position>52</position>
    <coordinate>374:570</coordinate>
  </item>
  <item>
    <position>53</position>
    <coordinate>539:578</coordinate>
  </item>
  <item>
    <position>54</position>
    <coordinate>710:574</coordinate>
  </item>
  <item>
    <position>55</position>
    <coordinate>878:571</coordinate>
  </item>
  <item>
    <position>56</position>
    <coordinate>1039:575</coordinate>
  </item>
  <item>
    <position>57</position>
    <coordinate>1216:573</coordinate>
  </item>
  <item>
    <position>58</position>
    <coordinate>1375:575</coordinate>
  </item>
  <item>
    <position>59</position>
    <coordinate>1545:570</coordinate>
  </item>
  <item>
    <position>60</position>
    <coordinate>1714:570</coordinate>
  </item>
  <item>
    <position>61</position>
    <coordinate>198:649</coordinate>
  </item>
  <item>
    <position>62</position>
    <coordinate>372:649</coordinate>
  </item>
  <item>
    <position>63</position>
    <coordinate>534:654</coordinate>
  </item>
  <item>
    <position>64</position>
    <coordinate>709:646</coordinate>
  </item>
  <item>
    <position>65</position>
    <coordinate>882:651</coordinate>
  </item>
  <item>
    <position>66</position>
    <coordinate>1043:649</coordinate>
  </item>
  <item>
    <position>67</position>
    <coordinate>1213:648</coordinate>
  </item>
  <item>
    <position>68</position>
    <coordinate>1380:650</coordinate>
  </item>
  <item>
    <position>69</position>
    <coordinate>1551:646</coordinate>
  </item>
  <item>
    <position>70</position>
    <coordinate>1716:649</coordinate>
  </item>
  <item>
    <position>71</position>
    <coordinate>204:725</coordinate>
  </item>
  <item>
    <position>72</position>
    <coordinate>365:723</coordinate>
  </item>
  <item>
    <position>73</position>
    <coordinate>538:727</coordinate>
  </item>
  <item>
    <position>74</position>
    <coordinate>696:721</coordinate>
  </item>
  <item>
    <position>75</position>
    <coordinate>878:730</coordinate>
  </item>
  <item>
    <position>76</position>
    <coordinate>1043:725</coordinate>
  </item>
  <item>
    <position>77</position>
    <coordinate>1211:726</coordinate>
  </item>
  <item>
    <position>78</position>
    <coordinate>1379:725</coordinate>
  </item>
  <item>
    <position>79</position>
    <coordinate>1542:723</coordinate>
  </item>
  <item>
    <position>80</position>
    <coordinate>1722:724</coordinate>
  </item>
  <item>
    <position>81</position>
    <coordinate>201:800</coordinate>
  </item>
  <item>
    <position>82</position>
    <coordinate>374:800</coordinate>
  </item>
  <item>
    <position>83</position>
    <coordinate>540:799</coordinate>
  </item>
  <item>
    <position>84</position>
    <coordinate>708:801</coordinate>
  </item>
  <item>
    <position>85</position>
    <coordinate>878:801</coordinate>
  </item>
  <item>
    <position>86</position>
    <coordinate>1042:799</coordinate>
  </item>
  <item>
    <position>87</position>
    <coordinate>1213:801</coordinate>
  </item>
  <item>
    <position>88</position>
    <coordinate>1377:804</coordinate>
  </item>
  <item>
    <position>89</position>
    <coordinate>1546:802</coordinate>
  </item>
  <item>
    <position>90</position>
    <coordinate>1713:800</coordinate>
  </item>
  <item>
    <position>91</position>
    <coordinate>200:880</coordinate>
  </item>
  <item>
    <position>92</position>
    <coordinate>376:876</coordinate>
  </item>
  <item>
    <position>93</position>
    <coordinate>539:873</coordinate>
  </item>
  <item>
    <position>94</position>
    <coordinate>706:873</coordinate>
  </item>
  <item>
    <position>95</position>
    <coordinate>875:875</coordinate>
  </item>
  <item>
    <position>96</position>
    <coordinate>1044:878</coordinate>
  </item>
  <item>
    <position>97</position>
    <coordinate>1211:874</coordinate>
  </item>
  <item>
    <position>98</position>
    <coordinate>1381:878</coordinate>
  </item>
  <item>
    <position>99</position>
    <coordinate>1550:874</coordinate>
  </item>
  <item>
    <position>100</position>
    <coordinate>1717:877</coordinate>
  </item>
  <item>
    <position>101</position>
    <coordinate>205:945</coordinate>
  </item>
  <item>
    <position>102</position>
    <coordinate>375:950</coordinate>
  </item>
  <item>
    <position>103</position>
    <coordinate>538:954</coordinate>
  </item>
  <item>
    <position>104</position>
    <coordinate>706:947</coordinate>
  </item>
  <item>
    <position>105</position>
    <coordinate>876:951</coordinate>
  </item>
  <item>
    <position>106</position>
    <coordinate>1040:953</coordinate>
  </item>
  <item>
    <position>107</position>
    <coordinate>1212:951</coordinate>
  </item>
  <item>
    <position>108</position>
    <coordinate>1381:953</coordinate>
  </item>
  <item>
    <position>109</position>
    <coordinate>1549:950</coordinate>
  </item>
  <item>
    <position>110</position>
    <coordinate>1713:948</coordinate>
  </item>
  <item>
    <position>111</position>
    <coordinate>203:1027</coordinate>
  </item>
  <item>
    <position>112</position>
    <coordinate>373:1027</coordinate>
  </item>
  <item>
    <position>113</position>
    <coordinate>541:1028</coordinate>
  </item>
  <item>
    <position>114</position>
    <coordinate>703:1028</coordinate>
  </item>
  <item>
    <position>115</position>
    <coordinate>880:1027</coordinate>
  </item>
  <item>
    <position>116</position>
    <coordinate>1038:1023</coordinate>
  </item>
  <item>
    <position>117</position>
    <coordinate>1205:1028</coordinate>
  </item>
  <item>
    <position>118</position>
    <coordinate>1378:1026</coordinate>
  </item>
  <item>
    <position>119</position>
    <coordinate>1546:1028</coordinate>
  </item>
  <item>
    <position>120</position>
    <coordinate>1720:1028</coordinate>
  </item>
</items>